{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Всі рецепти</h1>
    {% for recipe in recipes %}
      <div class="card my-3">
        <div class="card-header">{{ recipe.title }}</div>
        <div class="card-body">
          <p><strong>Опис:</strong> {{ recipe.description }}</p>
          <p><strong>Інгредієнти:</strong> {{ recipe.ingredients }}</p>
          <p><strong>Інструкції:</strong> {{ recipe.instructions }}</p>
          <p><em>Категорія:</em> {{ recipe.category.name }}</p>
        </div>
      </div>
    {% empty %}
      <p>Рецепти відсутні.</p>
    {% endfor %}
  </div>
{% endblock %}
